*{
    box-sizing: border-box;
}
body {
    background-color: aliceblue;
}
.container {
    width: 50%;
    height: 800px;
    padding: 5px;
    margin: auto;
    border: 5px solid rgb(241, 119, 49);
    border-radius: 20px;
    background-color:teal;
    text-align: center;
}

button {
    margin: 50px;
    width: 70px;
    height: 70px;
    border: 2px solid brown;
    border-radius: 100px; 
    background-color: rgb(124, 104, 161);
}
button:hover {
    background-color: rgb(26, 156, 243);
    width: 80px;
    height: 80px;
}
.formstyle {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(204, 197, 197);
    border-radius: 15px;
    text-align: center;
    width: 85%;
    height: 28%;
    margin-bottom: 10px;
   
    margin: auto;
}
 
input {
    margin-left: 20px;
    width: 150px;
    height: 20px;
    border-radius: 5px;
}
#clr-btn {
   width: 80px ;
   height: 20px ;
   margin: auto;
}
#table {
    background-color: rgb(101, 134, 139);
    color:cornsilk;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    height: 50%;
    border: 5px solid black;
    border-radius: 10px;
    margin: 40px auto;
    padding: 50px;
}